#cursor {
    position: fixed;
    width: 18px;
    height: 18px;
    background: #ffffffcc;
    border-radius: 8px;
    opacity: 0.25;
    z-index: 99999999;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
}