/*
作者: imsyy
主页：https://www.imsyy.top/
GitHub：https://github.com/imsyy/home
版权所有，请勿删除
*/

@charset "utf-8";

/*全局样式*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  font-family: "HarmonyOS_Regular", sans-serif;
}

*,
a,
p {
  margin: 0;
  padding: 0;
  user-select: none;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;

  &:hover {
    transition: 0.3s;
  }
}

// 字体文件
@font-face {
  font-family: "Pacifico-Regular";
  font-display: swap;
  src: url("/font/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "UnidreamLED";
  font-display: swap;
  src: url("/font/UnidreamLED.ttf") format("truetype");
}

// 基础样式
#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

// 卡片样式
.cards {
  border-radius: 6px;
  background-color: #00000040;
  backdrop-filter: blur(10px);
  transform: scale(1);
  transition:
    backdrop-filter 0.3s,
    transform 0.3s;
  &:hover {
    transform: scale(1.01);
  }
  &:active {
    transform: scale(0.98);
  }
}

// 文字超出
.text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 弹窗样式
.el-message {
  --el-message-bg-color: #00000040 !important;
  --el-message-text-color: #efefef !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 25px !important;
  border-color: transparent !important;

  .el-message__badge {
    display: none;
  }
  .el-message__content {
    white-space: nowrap;
  }
}

// 进度条样式
.el-progress-bar {
  .el-progress-bar__outer {
    border-radius: 6px;
    background-color: #00000020;
    .el-progress-bar__inner {
      background-color: #efefef;
      border-radius: 6px;
      text-align: center;
      font-family: "UnidreamLED";
      span {
        color: #564d59;
        font-size: 0.9rem;
      }
    }
  }
}

// Tooltip 样式
.el-popper.is-dark {
  background: #ffffff60 !important;
  border: 1px solid transparent !important;
}

// 卡片样式
.el-card {
  border-radius: 8px !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;
  .el-card__header {
    font-weight: bold;
    padding: 16px 20px !important;
    background-color: #ffffff30 !important;
    border-bottom: 1px solid transparent !important;
  }
  .el-card__body {
    padding: 0 !important;
    background-color: #ffffff10 !important;
  }
}

// Transition 动画
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// keyframes 动画
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-blur-in {
  from {
    filter: blur(20px) brightness(0.3);
    transform: scale(1.6);
  }
  to {
    filter: blur(0) brightness(1);
    transform: scale(1.2);
  }
}

@keyframes fade-blur-main-in {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

// 隐藏元素
@media (min-width: 910px) and (max-width: 1200px) {
  .sm-hidden {
    display: none;
  }
}

// 自定义鼠标
#cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 25px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;

  &.hidden {
    opacity: 0;
  }

  &.active {
    opacity: 0.5;
    transform: scale(0.5);
  }
}

// 滚动条样式
::-webkit-scrollbar,
scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  border-radius: 10px;
  background-color: #eeeeee;
}
